In [1]:
import datetime 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df =pd.read_csv("international_matches.csv")
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [3]:
df.shape

(23921, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [5]:
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [6]:
df['date'] = pd.to_datetime(df['date'])
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [7]:
columns_contains_null = [col for col in df.columns if df[col].isnull().any()]
print(f'columns contian \'null\' values: \n\n {columns_contains_null}')

columns contian 'null' values:

 ['home_team_goalkeeper_score', 'away_team_goalkeeper_score', 'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score', 'away_team_mean_defense_score', 'away_team_mean_offense_score', 'away_team_mean_midfield_score']

In [8]:
wc_2022 = ['Argentina','France','Morocco','Croatia']

In [9]:
for x in wc_2022:
    for y in columns_contains_null:
        df[y].fillna(df[df[y[0:9]]==x][y].mean(), inplace=True)

In [10]:
home_team = df[['date','home_team','home_team_score','away_team_score']]
home_team.head()

        date home_team  home_team_score  away_team_score
0 1993-08-08   Bolivia                3                1
1 1993-08-08    Brazil                1                1
2 1993-08-08   Ecuador                5                0
3 1993-08-08    Guinea                1                0
4 1993-08-08  Paraguay                1                3

In [15]:
home_team['home_team_score']>home_team['away_team_score']
homewins = home_team.loc[home_team['home_team_score']>home_team['away_team_score']]
homewins

            date               home_team  home_team_score  away_team_score
0     1993-08-08                 Bolivia                3                1
2     1993-08-08                 Ecuador                5                0
3     1993-08-08                  Guinea                1                0
6     1993-08-08                Zimbabwe                2                0
7     1993-08-09                  Guinea                4                0
...          ...                     ...              ...              ...
23908 2022-06-14             Netherlands                3                2
23912 2022-06-14  Bosnia and Herzegovina                3                2
23915 2022-06-14                  Turkey                2                0
23916 2022-06-14                 Moldova                2                1
23920 2022-06-14          Korea Republic                4                1

[11591 rows x 4 columns]

In [16]:
home_team['home_team_score']<home_team['away_team_score']
homeloss = home_team.loc[home_team['home_team_score']<home_team['away_team_score']]
homeloss

            date      home_team  home_team_score  away_team_score
4     1993-08-08       Paraguay                1                3
5     1993-08-08           Peru                0                1
8     1993-08-11  Faroe Islands                0                7
9     1993-08-11         Sweden                1                2
26    1993-08-31        Iceland                0                1
...          ...            ...              ...              ...
23909 2022-06-14         Poland                0                1
23910 2022-06-14        Armenia                1                4
23913 2022-06-14        Romania                0                3
23917 2022-06-14  Liechtenstein                0                2
23919 2022-06-14          Japan                0                3

[6623 rows x 4 columns]

In [17]:
hometeam_wins = homewins[['date','home_team','home_team_score','away_team_score']].rename(columns = {'home_team' : 'team' , 'home_team_score' : 'Home_team_wins' , 'away_team_score' :'away_team_win'})
awayteam_wins = homeloss[['date','home_team','home_team_score','away_team_score']].rename(columns = {'home_team' : 'team' , 'home_team_score' : 'Home_team_wins' , 'away_team_score' :'away_team_win'})
Team_Streak = hometeam_wins.append(awayteam_wins)

Team_Streak

            date           team  Home_team_wins  away_team_win
0     1993-08-08        Bolivia               3              1
2     1993-08-08        Ecuador               5              0
3     1993-08-08         Guinea               1              0
6     1993-08-08       Zimbabwe               2              0
7     1993-08-09         Guinea               4              0
...          ...            ...             ...            ...
23909 2022-06-14         Poland               0              1
23910 2022-06-14        Armenia               1              4
23913 2022-06-14        Romania               0              3
23917 2022-06-14  Liechtenstein               0              2
23919 2022-06-14          Japan               0              3

[18214 rows x 4 columns]

In [18]:
Team_Streak['team'].value_counts().nlargest(1)

USA    253
Name: team, dtype: int64

# what is the winning percentage comparing when the highest ranked team plays against the lowest ranked team?

In [19]:
def victory(team1,team2,team1_rank,team2_rank,team1_score,team2_score):
    if team1_score > team2_score:
        winner = team1
    elif team1_score == team2_score:
        winner = "Drawn"
    else:
        winner = team2
    return winner

In [20]:
df['winner'] = df.apply(lambda x: victory(x['home_team'] , x['away_team'] , x["home_team_fifa_rank"] , x["away_team_fifa_rank"]
                                         , x["home_team_score"] , x["away_team_score"]) , axis=1)

In [37]:
def rank(home , away , rank_home, rank_away):
    if rank_home < rank_away:
        return home
    else :
        return away

In [38]:
df['better_rank'] = df.apply(lambda x: rank(x['home_team'] , x["away_team"] , x["home_team_fifa_rank"], 
                                             x["away_team_fifa_rank"]),axis=1)

In [21]:
def result_rank(winner , better_rank):
    if winner == "Drawn": 
        return winner
    if winner == better_rank:
        return "highest"
    else:
        return "smallest"

In [22]:
df["result_rank"] = df.apply(lambda x: result_rank(x['winner'],x['better_rank']),axis=1)

KeyError: 'better_rank'

In [ ]:
plt.figure(figsize=(10,5))
total = float(len(df))
ax = sns.countplot(x='result_rank',data=df)
for p in ax.patches:
    percentage = '{:.1f}%'.format(100*p.get_height()/total)
    width = p.get_width()
    height = p.get_height()
    x,y=p.get_xy()
    ax.annotate(percentage,(x + width/2, y+height*1.02),ha = 'center')
plt.show()

In [32]:
df_rank_attack = df[df['home_team_mean_offense_score'].notnull()]

In [33]:
df_rank_attack = df[df['away_team_mean_offense_score'].notnull()]

In [34]:
def rank_attack(home,away,rank_home,rank_away):
    if rank_home > rank_away:
        return home
    else:
        return away

In [35]:
 df['better_attack'] = df.apply(lambda x: rank_attack(x['home_team'] , x["away_team"] , x["home_team_mean_offense_score"] ,
                                                      x["away_team_mean_offense_score"]),axis=1)

In [36]:
df_rank_attack["result_attack"] = df_rank_attack.apply(lambda x: result_rank(x['winner'],x['better_rank']),axis=1)

KeyError: 'better_rank'

In [31]:
plt.figure(figsize=(10,5))
total = float(len(df_rank_attack))
ax = sns.countplot(x = "result_attack" , data=df_rank_attack)
for p in ax.patches:
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    width = p.get_width()
    height = p.get_height()
    x,y = p.get_xy()
    ax.annotate(percentage , (x + width/2 , y+ height*1.02) , ha = 'center')
plt.show()

ValueError: Could not interpret input 'result_attack'

In [50]:
offence_score=[]
for x in wc_2022:
    of_score =np.round((df[df['home_team']==x]['home_team_mean_offense_score'].mean()+df[df['away_team']]))
                       
offence_score = pd.DataFrames({'Team':wc_2022 , "of_score":offense_score}).sort_values('of_score')
offence_score.index += 1
offence_score

KeyError: "None of [Index(['Uruguay', 'Mexico', 'Venezuela', 'Sierra Leone', 'Argentina',\n       'Colombia', 'Eswatini', 'Sierra Leone', 'Norway', 'Switzerland',\n       ...\n       'Republic of Ireland', 'Finland', 'Montenegro', 'Faroe Islands',\n       'Lithuania', 'Andorra', 'Latvia', 'Ghana', 'Tunisia', 'Egypt'],\n      dtype='object', length=23921)] are in the [columns]"

In [ ]:
offence_Players_vs_goals_scored = offence_score.merge(goals , one = 'Team')[["Team","of score", "Total scored goals "]]
offence_Players_vs_goals_scored.index +=1
offence_Players_vs_goals_scored

In [1]:
plt.figure(figsize=(11,7),dpi=90)
ax = sns.barplot(data=offence_Players_vs_goals_scored[:10] , x="Team" , y="Total scored goals/GK score")
ax.bar_label(ax.containers[0])
plt.xlabel('TEAM')
plt.ylabel("Goals/offonce ratio")
plt.title('Team best ration goals/offence score')

NameError: name 'plt' is not defined

In [3]:
goalkeeper_score=[]
for x in wc_2022:
    of_score =np.round((df[df['home_team']==x]['home_team_mean_goalkeeper_score'].mean()+df[df['away_team']]))
    golkeeper_score.append(gk_score)

goalkeeper_score = pd.DataFrames({'Team':wc_2022 , "GK_score":offense_score}).sort_values('GK_score')
goalkeeper_score.index += 1
goalkeeper_score

NameError: name 'wc_2022' is not defined

In [ ]:
goalkeeper_vs_goals_conceded = goalkeeper_scores.merge(goals , one = 'Team')[["Team","GK_score", "Total scored goals "]]
goalkeeper_vs_goals_conceded['Conceded goals/GK score Ratio'] = goalkeeper_vs_goals_conceded
offence_Players_vs_goals_scored.index +=1
offence_Players_vs_goals_scored